@model PresentationLayer.Areas.SysAdmin.Models.EmployeeVM
@using Telerik.Web.Mvc.UI;
@using PresentationLayer.Other;
@using myRes = PresentationLayer.LocalResource.Resource;
@{  System.Threading.Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(System.Configuration.ConfigurationManager.AppSettings["Culture"].ToString());
  System.Threading.Thread.CurrentThread.CurrentCulture = System.Threading.Thread.CurrentThread.CurrentUICulture;}
@{
    ViewBag.Title = myRes.Create;
}

@*<h2>Create</h2>*@
<style>
    table {
        width: 80%;
        /*background-color: gray;*/
    }
    /*table tr td{
        width: 16.66%;
    }*/

    .tdfirst {
        text-align: right;
        width: 13%;
    }

    .tdthird {
        text-align: right;
        width: 10%;
    }

    .tdfive {
        text-align: right;
        width: 10%;
    }

    .backgrounddiv {
        background-color: lightgray;
        border-radius: 25px;
        margin: 5px;
        padding: 5px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@myRes.Employee</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="backgrounddiv">
            <table>
                <tr>
                    <td class="tdfirst">@Html.LabelForRequired(model => model.EmployeeCode)</td>
                    <td>
                        @Html.EditorFor(model => model.EmployeeCode)
                        @Html.ValidationMessageFor(model => model.EmployeeCode)
                    </td>

                    <td class="tdfirst">@Html.LabelForRequired(model => model.Password)</td>
                    <td>
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td class="tdfirst">@Html.LabelForRequired(model => model.FirstName)</td>
                    <td>
                        @Html.EditorFor(model => model.FirstName)
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </td>
                    <td class="tdfirst">@Html.LabelForRequired(model => model.MiddleName)</td>
                    <td>
                        @Html.EditorFor(model => model.MiddleName)
                        @Html.ValidationMessageFor(model => model.MiddleName)
                    </td>
                </tr>
                <tr>
                    <td class="tdfirst">@Html.LabelForRequired(model => model.LastName)</td>
                    <td>
                        @Html.EditorFor(model => model.LastName)
                        @Html.ValidationMessageFor(model => model.LastName)
                    </td>


                    <td class="tdfirst">@Html.LabelForRequired(model => model.Category)</td>
                    <td>
                        @Html.Telerik().DropDownListFor(model => model.Category).Placeholder(myRes.Catagory).Items(item =>
    {
        item.Add().Text(myRes.TeachingStaff).Value(myRes.TeachingStaff);
        item.Add().Text(myRes.Clerk).Value(myRes.Clerk);
        item.Add().Text(myRes.HeadMaster).Value(myRes.HeadMaster);
        item.Add().Text(myRes.Others).Value(myRes.Others);
    })

                        @Html.ValidationMessageFor(model => model.Category)
                    </td>
                </tr>
                <tr>

                    <td class="tdfirst">@Html.LabelForRequired(model => model.Address)</td>
                    <td>
                        @Html.EditorFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address)
                    </td>

                    <td class="tdfirst">@Html.LabelForRequired(model => model.ContactNo)</td>
                    <td>
                        @Html.EditorFor(model => model.ContactNo)
                        @Html.ValidationMessageFor(model => model.ContactNo)
                    </td>
                </tr>

                <tr>
                    <td class="tdfirst">@Html.LabelForRequired(model => model.DOB)</td>
                    <td>
                        @Html.Telerik().DatePickerFor(model => model.DOB).Value(DateTime.Today.Date).Max(DateTime.Today.Date)
                        @Html.ValidationMessageFor(model => model.DOB)
                    </td>
                      <td class="tdfirst">@Html.LabelForRequired(model => model.JoiningDate)</td>
                    <td>
                        @Html.Telerik().DatePickerFor(model => model.JoiningDate).Value(DateTime.Today.Date)
                        @Html.ValidationMessageFor(model => model.JoiningDate)
                    </td>
                </tr>
               <tr><td class="tdfirst"></td><td></td></tr>
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@myRes.Create class="btn btn-success" />
                @Html.ActionLink(myRes.BackToList, "Index", new { }, new { @class = "btn btn-default" })
            </div>
        </div>
        <div>
            @if (TempData["Error"] != null)
            {
                <p style="color:red;">
                    @(TempData["Error"] != null ? TempData["Error"].ToString() : "")
                </p>
            }
            @if (TempData["Message"] != null)
            {
                <p style="color:green;">
                    @(TempData["Message"] != null ? TempData["Message"].ToString() : "")
                </p>
            }
        </div>
    </div>
}